@import "../../assets/master.scss";

.oppinfo {
    background-color: $almostWhite;
    width: 95%;
    border: 1px solid $border;
    border-radius: 1px;
    margin-top: $headerHeight + 45px;
    padding-bottom: 500px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.212), 0 1px 5px 0 rgba(0, 0, 0, 0.589);


    @media #{$tablet} {
        margin-top: $headerHeight;
        width: 100%;
        border: none;
    }
    @media #{$mobile} {
        margin-top: $headerHeight;
        width: 100%;
        border: none;
        border-bottom: 1px solid gray;
    }

    .opportunity-name {
        font-size: 28px;
        font-weight: 100;

    }

    .opportunity-description {
        margin: 20px 30px;
        text-align: left;
    }

    .image-container {
        justify-content: center;
        display: flex;
        align-items: center;
        overflow: hidden;
        min-height: 200px;
        max-height: 400px;
        min-width: 100%;
        max-width: 100%;

        img {
            max-width: 100%;
            min-width: 100%;
            height: auto;
        }
    }

    .iconcontainer {
      display: flex;
      width: 100%;
      justify-content: center;

      .moreinfo {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
          margin: 5px 4%;
          cursor: pointer;
          
          i {
              margin-left: 5px;
          }
      }
      .share {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
          margin: 5px 4%;
          cursor: pointer;


          i {
              margin-left: 5px;
          }
      }
  }

    .customtooltip {
        position: relative;
        display: inline-block;
      }
      
      .customtooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .customtooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
      
      .customtooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
}