@import "../../assets/master.scss";

.oppinfo {
    background-color: $almostWhite;
    width: 95%;
    border: 1px solid $border;
    border-radius: 1px;
    margin-top: $headerHeight + 30px;
    padding-bottom: 500px;

    @media #{$tablet} {
        margin-top: $headerHeight;
        width: 100%;
        border: none;
    }
    @media #{$mobile} {
        margin-top: $headerHeight;
        width: 100%;
        border: none;
        border-bottom: 1px solid gray;
    }

    .opportunity-description {
        margin: 20px;
        text-align: left;
    }

    .image-container {
        // border: 1px solid red;
        display: flex;
        align-items: center;
        overflow: hidden;
        min-height: 200px;
        max-height: 400px;
        max-width: 100%;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .share {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 30px;
        margin: 5px;
        cursor: pointer;
    }

    .customtooltip {
        position: relative;
        display: inline-block;
      }
      
      .customtooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .customtooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
      
      .customtooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
}