//font colors
$whiteText: rgb(238, 238, 238);

//media queries
$tablet: "(max-width: 800px)";
$mobile: "(max-width: 550px)";

//header size
$headerHeight: 100px;

// colors
// body
$body: #e6dfd5;
$almostWhite: rgb(241, 241, 241);
$border: #c4beb7;