@import '../../assets/master';

.loginContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: $headerHeight + 50px;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;

    h2 {
        width: 100%;
    }

    .login {
        text-decoration: underline;
        cursor: pointer;
    }

    .loginForm {
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
        flex-direction: column;
        width: 100%;
        align-content: center;
        align-items: center;

        span {
            width: 100%;
        }

        input {
            width: 40%;
            height: 20px;
            margin-bottom: 20px;
            margin-top: 7px;
            padding: 10px;
            font-size: 16px;
            border-radius: 3px;
            border: 1px solid gray;

            @media #{$tablet} {
                width: 70%;
            }

            @media #{$mobile} {
                width: 90%;
            }
        }

        button {
            height: 40px;
            border-radius: 3px;
            font-size: 16px;
            // width: 10%;
            margin-top: 12px;
            padding: 10px 20px;
            line-height: 0px;
            border: 1px solid gray;
            background-color: #7a1501;
            color: white;
            top: 50%;

            @media #{$tablet} {
                // width: 30%;
            }

            @media #{$mobile} {
                // width: 50%;
            }

        }
        .buttonLoader {
            margin-top: 20px;
        }
    }
}
.hidden {
    display: none;
}