@import '../../assets/master.scss';

.opportunity-wrapper {
    background-color: $almostWhite;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: center;
    border: 1px solid $border;
    border-radius: 3px;
    width: 65%;
    margin: 7px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.212), 0 1px 5px 0 rgba(0, 0, 0, 0.589);

    @media #{$tablet} {
        width: 90%;
    }

    @media #{$mobile} {
        width: 97%;
        margin: 7px 0;
    }

    .image-container {
        display: flex;
        align-items: center;
        overflow: hidden;
        min-height: 200px;
        max-height: 260px;
        max-width: 100%;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;


        img {
            max-width: 100%;
            height: auto;
        }
    }

    .opportunity {
        position: relative;
        width: 100%;
        overflow: hidden;

        h2 {
            color: black;
            font-size: 28px;
        }

        .opportunity-name {
            margin: 15px;
        }

        .opportunity-description {
            margin: 10px 30px;
            text-align: left;
        }
        // background-color: rgb(230, 230, 230);

        // .fade {
        //     position: absolute; 
        //     bottom: 0; 
        //     left: 0;
        //     width: 100%; 
        //     text-align: center; 
        //     padding: 8px 0; 
            
        //     /* "transparent" only works here because == rgba(0,0,0,0) */
        //     background-image: linear-gradient(to bottom, transparent, rgb(70, 70, 70));
        // }
    }
    .iconcontainer {
        display: flex;
        width: 100%;
        justify-content: center;

        .moreinfo {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            margin: 5px 4%;
            cursor: pointer;
            
            i {
                margin-left: 5px;
            }
        }
        .share {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            margin: 5px 4%;
            cursor: pointer;

            .favorite-heart {
                i {
                    color: #7a1501
                }
            }


            i {
                margin-left: 5px;
            }
        }
    }

    .tooltip {
        position: relative;
        display: inline-block;
      }
      
      .tooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
      
      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
}
