@import '../../assets/master';

.opportunityFormWrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    align-content: center;
    align-items: center;

    .formMessage {
        width: 100%;
    }

    .opportunityFormContainer {
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 50%;

    }

    h3 {
        width: 100%;
    }
}